<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="img/png" th:href="@{/favicon.png}" />
  <title>BookNest | Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/auth/css/auth.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/toast-lib/toast.css}" />
</head>

<body>

  <div class="toast-auto" th:if="${success}" th:attr="data-message=${success}" data-type="success"
    data-position="bottom-right" data-theme="dark" data-duration="5000"></div>
  <div class="toast-auto" th:if="${error}" th:attr="data-message=${error}" data-type="error"
    data-position="bottom-right" data-theme="dark" data-duration="5000"></div>

  <form th:action="@{/register}" method="post">
    <h2>BookNest Register</h2>
    <input type="text" name="username" placeholder="Enter username" required />
    <input type="password" name="password" placeholder="Enter password" required />
    <input type="password" name="confirmPassword" placeholder="Confirm password" required />
    <button type="submit">Register</button>
    <a th:href="@{/login}">login</a>
  </form>

  <script th:src="@{/assets/toast-lib/toast.js}"></script>
</body>

</html>
