:root {
  --bg-dark: #121212;
  --light-blue-highlight: #00b5ed;

  --dropdown-bg: #222;
  --dropdown-hover: #2a2a2a;

  --list-table-dark-bg: #222;
  --list-table-dark-hover: #2a2a2a;

  --default-font-color: #fff;

  --dark-border: #444;

  --primary-btn: #00b5ed;
  --primary-btn-hover: #009ccc;
}
