@font-face {
  font-family: "lucide";
  src: url('lucide.eot?t=1754044454834');
  /* IE9*/
  src: url('lucide.eot?t=1754044454834#iefix') format('embedded-opentype')
    /* IE6-IE8 */
    ,
    url('lucide.woff2?t=1754044454834') format('woff2'),
    url('lucide.woff?t=1754044454834') format('woff'),
    url('lucide.ttf?t=1754044454834') format('truetype'),
    url('lucide.svg?t=1754044454834') format('svg');
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'lucide' !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload::before {
  content: "\e19e";
}

.icon-user-round-pen::before {
  content: "\e602";
}

.icon-log-out::before {
  content: "\e112";
}

.icon-book-plus::before {
  content: "\e3f8";
}

.icon-user-round::before {
  content: "\e46d";
}
