<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="img/png" th:href="@{/favicon.png}" />
  <title>BookNest | Home</title>
  <link th:href="@{/booknest/css/home.css}" rel="stylesheet" />
  <link th:href="@{/booknest/css/top-nav.css}" rel="stylesheet" />
</head>

<body>
  <div class="top-nav">
    <div class="logo">
      <img th:src="@{/img/booknest.png}" alt="logo" />
    </div>

    <div class="links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Users</a></li>
      </ul>
    </div>

    <div class="profile">U</div>
  </div>
</body>

</html>
