<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="img/png" th:href="@{/favicon.png}" />
  <title>BookNest | Home</title>
  <link th:href="@{/booknest/css/home.css}" rel="stylesheet" />
  <link th:href="@{/booknest/css/top-nav.css}" rel="stylesheet" />
  <link th:href="@{/booknest/css/users/users.css}" rel="stylesheet" />
  <link th:href="@{/booknest/css/users/user-list.css}" rel="stylesheet" />
</head>

<body>
  <div class="top-nav">
    <div class="logo">
      <img th:src="@{/img/booknest.png}" alt="logo" />
    </div>

    <div class="links">
      <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/books}">Books</a></li>
        <li><a th:href="@{/users}">Users</a></li>
      </ul>
    </div>

    <div class="profile">U</div>
  </div>

  <div class="users-list">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
          <th>Joined Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.role}"></td>
          <td th:text="${user.joinedDate}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
